# Assignment 3: Fitness Tracking Analysis

## 📌 Overview
In this assignment, you will analyze a fitness tracking dataset using **Pandas** and **NumPy** only.
The dataset `fitness_tracking.csv` contains daily activity data such as steps, distance, active minutes, calories, and heart rate.

Your goal is to practice:
- Cleaning and preparing data with Pandas and NumPy
- Handling missing values
- Creating new features
- Detecting outliers with NumPy
- Aggregating and ranking data with Pandas

---

## 📊 Dataset Description
The dataset contains the following columns:

- **Date** → Day of the activity
- **DayOfWeek** → Day name (e.g., Monday, Tuesday)
- **Steps** → Number of steps taken
- **Distance_km** → Distance covered in kilometers
- **Active_Minutes** → Number of active minutes
- **Calories** → Calories burned
- **HeartRate_Avg** → Average heart rate

---

## 📝 Tasks

### Task 1: Load and Inspect Data
- Load the dataset into Pandas.
- Display the first 5 rows.
- Show the shape and data types of the dataset.
- Count missing values in each column.

---

### Task 2: Handle Missing Data
- Use **NumPy** to replace missing numeric values with the column mean.

---

### Task 3: Feature Engineering
- Create a new column `Cals_per_Min` = `Calories / Active_Minutes` (handle divide-by-zero safely using NumPy).
- Create a new column `Intense_Day` = `True` if `Steps >= 10,000`, else `False`.

---

### Task 4: Outlier Detection
- Using NumPy, calculate **z-scores** for `Steps` and `Calories`:
  \[z = \frac{x - \text{mean}}{\text{std}} \]

- Create boolean columns `Steps_Outlier` and `Calories_Outlier` where `|z| > 2`.

---

### Task 5: Aggregation and Ranking
- Group the data by `DayOfWeek` and calculate the average `Steps`, `Calories`, and `Cals_per_Min`.
- Find the **top 3 days** (dates) with the highest number of steps.

# Assignment 3 — Solution: Fitness Tracking ML Project

In [2]:
import numpy as np
import pandas as pd
df = pd.read_csv('fitness_tracking.csv')

## Task 1

In [3]:
df

,Date,DayOfWeek,Steps,Distance_km,Active_Minutes,Calories,HeartRate_Avg
0,2025-07-03,Thursday,NaN,6.657977,50.0,687.783888,74.0
1,2025-07-29,Tuesday,9317.0,6.694944,121.0,1203.063311,92.0
2,2025-07-14,Monday,12014.0,8.806486,123.0,1301.055694,85.0
3,2025-07-11,Friday,9080.0,6.100210,145.0,1149.922935,75.0
4,2025-07-27,Sunday,7530.0,5.598196,84.0,795.213183,80.0
5,2025-07-25,Friday,12269.0,9.226870,51.0,680.380960,79.0
6,2025-07-28,Monday,12784.0,8.268170,123.0,1270.503099,78.0
7,2025-07-12,Saturday,14695.0,10.912283,143.0,1324.595936,90.0
8,2025-07-18,Friday,30000.0,2.702643,142.0,1165.691373,75.0
9,2025-07-23,Wednesday,4781.0,3.025357,16.0,253.402025,73.0
10,2025-07-06,Sunday,13232.0,9.066712,NaN,658.122413,65.0
11,2025-07-17,Thursday,8915.0,5.950645,57.0,655.931939,69.0
12,2025-07-09,Wednesday,5018.0,3.450566,146.0,1314.478031,82.0
13,2025-07-15,Tuesday,11468.0,8.422852,NaN,1003.576485,70.0
14,2025-07-24,Thursday,14084.0,NaN,33.0,4500.000000,65.0
15,2025-07-21,Monday,8754.0,6.918442,95.0,985.674283,82.0
16,2025-07-02,Wednesday,12174.0,8.880934,59.0,772.237605,77.0
17,2025-07-30,Wednesday,8042.0,5.704471,90.0,925.429025,76.0
18,2025-07-07,Monday,3574.0,2.307109,151.0,1147.028263,66.0
19,2025-07-05,Saturday,7912.0,5.506799,118.0,1162.492263,63.0
20,2025-07-19,Saturday,NaN,8.251137,104.0,1197.235261,86.0
21,2025-07-20,Sunday,8129.0,6.090884,88.0,NaN,NaN
22,2025-07-10,Thursday,3677.0,2.447903,11.0,NaN,70.0
23,2025-07-08,Tuesday,11217.0,8.948960,43.0,628.216986,69.0
24,2025-07-26,Saturday,10548.0,8.010788,29.0,537.949982,73.0
25,2025-07-04,Friday,7985.0,6.150654,126.0,1213.227612,NaN
26,2025-07-01,Tuesday,3615.0,2.281993,162.0,1029.487587,84.0
27,2025-07-22,Tuesday,7134.0,4.928768,106.0,914.072265,80.0
28,2025-07-16,Wednesday,12325.0,10.739165,129.0,1378.715350,76.0
29,2025-07-13,Sunday,11696.0,NaN,142.0,1255.773998,75.0

In [4]:
# First 5 row
df.head()

,Date,DayOfWeek,Steps,Distance_km,Active_Minutes,Calories,HeartRate_Avg
0,2025-07-03,Thursday,NaN,6.657977,50.0,687.783888,74.0
1,2025-07-29,Tuesday,9317.0,6.694944,121.0,1203.063311,92.0
2,2025-07-14,Monday,12014.0,8.806486,123.0,1301.055694,85.0
3,2025-07-11,Friday,9080.0,6.100210,145.0,1149.922935,75.0
4,2025-07-27,Sunday,7530.0,5.598196,84.0,795.213183,80.0

In [7]:
#print shape and data type
print(df.shape)
print(df.dtypes)

(30, 7)
Date               object
DayOfWeek          object
Steps             float64
Distance_km       float64
Active_Minutes    float64
Calories          float64
HeartRate_Avg     float64
dtype: object

In [8]:
#finding the missing value
print(df.isnull().sum())

Date              0
DayOfWeek         0
Steps             2
Distance_km       2
Active_Minutes    2
Calories          2
HeartRate_Avg     2
dtype: int64

## Task 2

In [9]:
df

,Date,DayOfWeek,Steps,Distance_km,Active_Minutes,Calories,HeartRate_Avg
0,2025-07-03,Thursday,NaN,6.657977,50.0,687.783888,74.0
1,2025-07-29,Tuesday,9317.0,6.694944,121.0,1203.063311,92.0
2,2025-07-14,Monday,12014.0,8.806486,123.0,1301.055694,85.0
3,2025-07-11,Friday,9080.0,6.100210,145.0,1149.922935,75.0
4,2025-07-27,Sunday,7530.0,5.598196,84.0,795.213183,80.0
5,2025-07-25,Friday,12269.0,9.226870,51.0,680.380960,79.0
6,2025-07-28,Monday,12784.0,8.268170,123.0,1270.503099,78.0
7,2025-07-12,Saturday,14695.0,10.912283,143.0,1324.595936,90.0
8,2025-07-18,Friday,30000.0,2.702643,142.0,1165.691373,75.0
9,2025-07-23,Wednesday,4781.0,3.025357,16.0,253.402025,73.0
10,2025-07-06,Sunday,13232.0,9.066712,NaN,658.122413,65.0
11,2025-07-17,Thursday,8915.0,5.950645,57.0,655.931939,69.0
12,2025-07-09,Wednesday,5018.0,3.450566,146.0,1314.478031,82.0
13,2025-07-15,Tuesday,11468.0,8.422852,NaN,1003.576485,70.0
14,2025-07-24,Thursday,14084.0,NaN,33.0,4500.000000,65.0
15,2025-07-21,Monday,8754.0,6.918442,95.0,985.674283,82.0
16,2025-07-02,Wednesday,12174.0,8.880934,59.0,772.237605,77.0
17,2025-07-30,Wednesday,8042.0,5.704471,90.0,925.429025,76.0
18,2025-07-07,Monday,3574.0,2.307109,151.0,1147.028263,66.0
19,2025-07-05,Saturday,7912.0,5.506799,118.0,1162.492263,63.0
20,2025-07-19,Saturday,NaN,8.251137,104.0,1197.235261,86.0
21,2025-07-20,Sunday,8129.0,6.090884,88.0,NaN,NaN
22,2025-07-10,Thursday,3677.0,2.447903,11.0,NaN,70.0
23,2025-07-08,Tuesday,11217.0,8.948960,43.0,628.216986,69.0
24,2025-07-26,Saturday,10548.0,8.010788,29.0,537.949982,73.0
25,2025-07-04,Friday,7985.0,6.150654,126.0,1213.227612,NaN
26,2025-07-01,Tuesday,3615.0,2.281993,162.0,1029.487587,84.0
27,2025-07-22,Tuesday,7134.0,4.928768,106.0,914.072265,80.0
28,2025-07-16,Wednesday,12325.0,10.739165,129.0,1378.715350,76.0
29,2025-07-13,Sunday,11696.0,NaN,142.0,1255.773998,75.0

In [10]:
for col in df.select_dtypes(include=np.number).columns:
    mean_val = np.nanmean(df[col])
    df[col] = np.where(df[col].isnull(), mean_val, df[col])

In [11]:
df

,Date,DayOfWeek,Steps,Distance_km,Active_Minutes,Calories,HeartRate_Avg
0,2025-07-03,Thursday,10070.321429,6.657977,50.000000,687.783888,74.000000
1,2025-07-29,Tuesday,9317.000000,6.694944,121.000000,1203.063311,92.000000
2,2025-07-14,Monday,12014.000000,8.806486,123.000000,1301.055694,85.000000
3,2025-07-11,Friday,9080.000000,6.100210,145.000000,1149.922935,75.000000
4,2025-07-27,Sunday,7530.000000,5.598196,84.000000,795.213183,80.000000
5,2025-07-25,Friday,12269.000000,9.226870,51.000000,680.380960,79.000000
6,2025-07-28,Monday,12784.000000,8.268170,123.000000,1270.503099,78.000000
7,2025-07-12,Saturday,14695.000000,10.912283,143.000000,1324.595936,90.000000
8,2025-07-18,Friday,30000.000000,2.702643,142.000000,1165.691373,75.000000
9,2025-07-23,Wednesday,4781.000000,3.025357,16.000000,253.402025,73.000000
10,2025-07-06,Sunday,13232.000000,9.066712,95.964286,658.122413,65.000000
11,2025-07-17,Thursday,8915.000000,5.950645,57.000000,655.931939,69.000000
12,2025-07-09,Wednesday,5018.000000,3.450566,146.000000,1314.478031,82.000000
13,2025-07-15,Tuesday,11468.000000,8.422852,95.964286,1003.576485,70.000000
14,2025-07-24,Thursday,14084.000000,6.501854,33.000000,4500.000000,65.000000
15,2025-07-21,Monday,8754.000000,6.918442,95.000000,985.674283,82.000000
16,2025-07-02,Wednesday,12174.000000,8.880934,59.000000,772.237605,77.000000
17,2025-07-30,Wednesday,8042.000000,5.704471,90.000000,925.429025,76.000000
18,2025-07-07,Monday,3574.000000,2.307109,151.000000,1147.028263,66.000000
19,2025-07-05,Saturday,7912.000000,5.506799,118.000000,1162.492263,63.000000
20,2025-07-19,Saturday,10070.321429,8.251137,104.000000,1197.235261,86.000000
21,2025-07-20,Sunday,8129.000000,6.090884,88.000000,1111.116491,76.035714
22,2025-07-10,Thursday,3677.000000,2.447903,11.000000,1111.116491,70.000000
23,2025-07-08,Tuesday,11217.000000,8.948960,43.000000,628.216986,69.000000
24,2025-07-26,Saturday,10548.000000,8.010788,29.000000,537.949982,73.000000
25,2025-07-04,Friday,7985.000000,6.150654,126.000000,1213.227612,76.035714
26,2025-07-01,Tuesday,3615.000000,2.281993,162.000000,1029.487587,84.000000
27,2025-07-22,Tuesday,7134.000000,4.928768,106.000000,914.072265,80.000000
28,2025-07-16,Wednesday,12325.000000,10.739165,129.000000,1378.715350,76.000000
29,2025-07-13,Sunday,11696.000000,6.501854,142.000000,1255.773998,75.000000

## Task 3

In [12]:
# Calories per Active Minute (handle divide by zero safely)
df["Cals_per_Min"] = np.where(df["Active_Minutes"] == 0, 0, df["Calories"] / df["Active_Minutes"])

In [15]:
#step >= 10000
df["Intense_Day"] = df['Steps'] >= 10000

In [16]:
df

,Date,DayOfWeek,Steps,Distance_km,Active_Minutes,Calories,HeartRate_Avg,Cals_per_Min,Intense_Day
0,2025-07-03,Thursday,10070.321429,6.657977,50.000000,687.783888,74.000000,13.755678,True
1,2025-07-29,Tuesday,9317.000000,6.694944,121.000000,1203.063311,92.000000,9.942672,False
2,2025-07-14,Monday,12014.000000,8.806486,123.000000,1301.055694,85.000000,10.577689,True
3,2025-07-11,Friday,9080.000000,6.100210,145.000000,1149.922935,75.000000,7.930503,False
4,2025-07-27,Sunday,7530.000000,5.598196,84.000000,795.213183,80.000000,9.466824,False
5,2025-07-25,Friday,12269.000000,9.226870,51.000000,680.380960,79.000000,13.340803,True
6,2025-07-28,Monday,12784.000000,8.268170,123.000000,1270.503099,78.000000,10.329293,True
7,2025-07-12,Saturday,14695.000000,10.912283,143.000000,1324.595936,90.000000,9.262909,True
8,2025-07-18,Friday,30000.000000,2.702643,142.000000,1165.691373,75.000000,8.209094,True
9,2025-07-23,Wednesday,4781.000000,3.025357,16.000000,253.402025,73.000000,15.837627,False
10,2025-07-06,Sunday,13232.000000,9.066712,95.964286,658.122413,65.000000,6.857993,True
11,2025-07-17,Thursday,8915.000000,5.950645,57.000000,655.931939,69.000000,11.507578,False
12,2025-07-09,Wednesday,5018.000000,3.450566,146.000000,1314.478031,82.000000,9.003274,False
13,2025-07-15,Tuesday,11468.000000,8.422852,95.964286,1003.576485,70.000000,10.457812,True
14,2025-07-24,Thursday,14084.000000,6.501854,33.000000,4500.000000,65.000000,136.363636,True
15,2025-07-21,Monday,8754.000000,6.918442,95.000000,985.674283,82.000000,10.375519,False
16,2025-07-02,Wednesday,12174.000000,8.880934,59.000000,772.237605,77.000000,13.088773,True
17,2025-07-30,Wednesday,8042.000000,5.704471,90.000000,925.429025,76.000000,10.282545,False
18,2025-07-07,Monday,3574.000000,2.307109,151.000000,1147.028263,66.000000,7.596214,False
19,2025-07-05,Saturday,7912.000000,5.506799,118.000000,1162.492263,63.000000,9.851629,False
20,2025-07-19,Saturday,10070.321429,8.251137,104.000000,1197.235261,86.000000,11.511878,True
21,2025-07-20,Sunday,8129.000000,6.090884,88.000000,1111.116491,76.035714,12.626324,False
22,2025-07-10,Thursday,3677.000000,2.447903,11.000000,1111.116491,70.000000,101.010590,False
23,2025-07-08,Tuesday,11217.000000,8.948960,43.000000,628.216986,69.000000,14.609697,True
24,2025-07-26,Saturday,10548.000000,8.010788,29.000000,537.949982,73.000000,18.549999,True
25,2025-07-04,Friday,7985.000000,6.150654,126.000000,1213.227612,76.035714,9.628791,False
26,2025-07-01,Tuesday,3615.000000,2.281993,162.000000,1029.487587,84.000000,6.354862,False
27,2025-07-22,Tuesday,7134.000000,4.928768,106.000000,914.072265,80.000000,8.623323,False
28,2025-07-16,Wednesday,12325.000000,10.739165,129.000000,1378.715350,76.000000,10.687716,True
29,2025-07-13,Sunday,11696.000000,6.501854,142.000000,1255.773998,75.000000,8.843479,True

## Task 4

In [23]:
#function to calculate z scores
def z_score(series):
    return (series - np.mean(series)) / np.std(series)

In [24]:
df['Steps_z'] = z_score(df['Steps'])
df['Calories_z'] = z_score(df['Calories'])

In [25]:
df

,Date,DayOfWeek,Steps,Distance_km,Active_Minutes,Calories,HeartRate_Avg,Cals_per_Min,Intense_Day,Steps_z,Calories_z
0,2025-07-03,Thursday,10070.321429,6.657977,50.000000,687.783888,74.000000,13.755678,True,3.789721e-16,-0.616258
1,2025-07-29,Tuesday,9317.000000,6.694944,121.000000,1203.063311,92.000000,9.942672,False,-1.569486e-01,0.133850
2,2025-07-14,Monday,12014.000000,8.806486,123.000000,1301.055694,85.000000,10.577689,True,4.049502e-01,0.276500
3,2025-07-11,Friday,9080.000000,6.100210,145.000000,1149.922935,75.000000,7.930503,False,-2.063257e-01,0.056492
4,2025-07-27,Sunday,7530.000000,5.598196,84.000000,795.213183,80.000000,9.466824,False,-5.292560e-01,-0.459870
5,2025-07-25,Friday,12269.000000,9.226870,51.000000,680.380960,79.000000,13.340803,True,4.580774e-01,-0.627035
6,2025-07-28,Monday,12784.000000,8.268170,123.000000,1270.503099,78.000000,10.329293,True,5.653736e-01,0.232024
7,2025-07-12,Saturday,14695.000000,10.912283,143.000000,1324.595936,90.000000,9.262909,True,9.635154e-01,0.310768
8,2025-07-18,Friday,30000.000000,2.702643,142.000000,1165.691373,75.000000,8.209094,True,4.152192e+00,0.079446
9,2025-07-23,Wednesday,4781.000000,3.025357,16.000000,253.402025,73.000000,15.837627,False,-1.101989e+00,-1.248601
10,2025-07-06,Sunday,13232.000000,9.066712,95.964286,658.122413,65.000000,6.857993,True,6.587109e-01,-0.659437
11,2025-07-17,Thursday,8915.000000,5.950645,57.000000,655.931939,69.000000,11.507578,False,-2.407021e-01,-0.662626
12,2025-07-09,Wednesday,5018.000000,3.450566,146.000000,1314.478031,82.000000,9.003274,False,-1.052611e+00,0.296040
13,2025-07-15,Tuesday,11468.000000,8.422852,95.964286,1003.576485,70.000000,10.457812,True,2.911953e-01,-0.156549
14,2025-07-24,Thursday,14084.000000,6.501854,33.000000,4500.000000,65.000000,136.363636,True,8.362184e-01,4.933300
15,2025-07-21,Monday,8754.000000,6.918442,95.000000,985.674283,82.000000,10.375519,False,-2.742452e-01,-0.182610
16,2025-07-02,Wednesday,12174.000000,8.880934,59.000000,772.237605,77.000000,13.088773,True,4.382849e-01,-0.493316
17,2025-07-30,Wednesday,8042.000000,5.704471,90.000000,925.429025,76.000000,10.282545,False,-4.225848e-01,-0.270311
18,2025-07-07,Monday,3574.000000,2.307109,151.000000,1147.028263,66.000000,7.596214,False,-1.353458e+00,0.052278
19,2025-07-05,Saturday,7912.000000,5.506799,118.000000,1162.492263,63.000000,9.851629,False,-4.496693e-01,0.074789
20,2025-07-19,Saturday,10070.321429,8.251137,104.000000,1197.235261,86.000000,11.511878,True,3.789721e-16,0.125366
21,2025-07-20,Sunday,8129.000000,6.090884,88.000000,1111.116491,76.035714,12.626324,False,-4.044591e-01,0.000000
22,2025-07-10,Thursday,3677.000000,2.447903,11.000000,1111.116491,70.000000,101.010590,False,-1.331998e+00,0.000000
23,2025-07-08,Tuesday,11217.000000,8.948960,43.000000,628.216986,69.000000,14.609697,True,2.389015e-01,-0.702971
24,2025-07-26,Saturday,10548.000000,8.010788,29.000000,537.949982,73.000000,18.549999,True,9.952058e-02,-0.834376
25,2025-07-04,Friday,7985.000000,6.150654,126.000000,1213.227612,76.035714,9.628791,False,-4.344603e-01,0.148646
26,2025-07-01,Tuesday,3615.000000,2.281993,162.000000,1029.487587,84.000000,6.354862,False,-1.344915e+00,-0.118830
27,2025-07-22,Tuesday,7134.000000,4.928768,106.000000,914.072265,80.000000,8.623323,False,-6.117595e-01,-0.286843
28,2025-07-16,Wednesday,12325.000000,10.739165,129.000000,1378.715350,76.000000,10.687716,True,4.697446e-01,0.389552
29,2025-07-13,Sunday,11696.000000,6.501854,142.000000,1255.773998,75.000000,8.843479,True,3.386974e-01,0.210582

In [26]:
# creating bool value
df["Steps_Outlier"] = np.abs(df["Steps_z"])>2
df["Calories_Outlier"] = np.abs(df["Calories_z"])>2

In [27]:
df

,Date,DayOfWeek,Steps,Distance_km,Active_Minutes,Calories,HeartRate_Avg,Cals_per_Min,Intense_Day,Steps_z,Calories_z,Steps_Outlier,Calories_Outlier
0,2025-07-03,Thursday,10070.321429,6.657977,50.000000,687.783888,74.000000,13.755678,True,3.789721e-16,-0.616258,False,False
1,2025-07-29,Tuesday,9317.000000,6.694944,121.000000,1203.063311,92.000000,9.942672,False,-1.569486e-01,0.133850,False,False
2,2025-07-14,Monday,12014.000000,8.806486,123.000000,1301.055694,85.000000,10.577689,True,4.049502e-01,0.276500,False,False
3,2025-07-11,Friday,9080.000000,6.100210,145.000000,1149.922935,75.000000,7.930503,False,-2.063257e-01,0.056492,False,False
4,2025-07-27,Sunday,7530.000000,5.598196,84.000000,795.213183,80.000000,9.466824,False,-5.292560e-01,-0.459870,False,False
5,2025-07-25,Friday,12269.000000,9.226870,51.000000,680.380960,79.000000,13.340803,True,4.580774e-01,-0.627035,False,False
6,2025-07-28,Monday,12784.000000,8.268170,123.000000,1270.503099,78.000000,10.329293,True,5.653736e-01,0.232024,False,False
7,2025-07-12,Saturday,14695.000000,10.912283,143.000000,1324.595936,90.000000,9.262909,True,9.635154e-01,0.310768,False,False
8,2025-07-18,Friday,30000.000000,2.702643,142.000000,1165.691373,75.000000,8.209094,True,4.152192e+00,0.079446,True,False
9,2025-07-23,Wednesday,4781.000000,3.025357,16.000000,253.402025,73.000000,15.837627,False,-1.101989e+00,-1.248601,False,False
10,2025-07-06,Sunday,13232.000000,9.066712,95.964286,658.122413,65.000000,6.857993,True,6.587109e-01,-0.659437,False,False
11,2025-07-17,Thursday,8915.000000,5.950645,57.000000,655.931939,69.000000,11.507578,False,-2.407021e-01,-0.662626,False,False
12,2025-07-09,Wednesday,5018.000000,3.450566,146.000000,1314.478031,82.000000,9.003274,False,-1.052611e+00,0.296040,False,False
13,2025-07-15,Tuesday,11468.000000,8.422852,95.964286,1003.576485,70.000000,10.457812,True,2.911953e-01,-0.156549,False,False
14,2025-07-24,Thursday,14084.000000,6.501854,33.000000,4500.000000,65.000000,136.363636,True,8.362184e-01,4.933300,False,True
15,2025-07-21,Monday,8754.000000,6.918442,95.000000,985.674283,82.000000,10.375519,False,-2.742452e-01,-0.182610,False,False
16,2025-07-02,Wednesday,12174.000000,8.880934,59.000000,772.237605,77.000000,13.088773,True,4.382849e-01,-0.493316,False,False
17,2025-07-30,Wednesday,8042.000000,5.704471,90.000000,925.429025,76.000000,10.282545,False,-4.225848e-01,-0.270311,False,False
18,2025-07-07,Monday,3574.000000,2.307109,151.000000,1147.028263,66.000000,7.596214,False,-1.353458e+00,0.052278,False,False
19,2025-07-05,Saturday,7912.000000,5.506799,118.000000,1162.492263,63.000000,9.851629,False,-4.496693e-01,0.074789,False,False
20,2025-07-19,Saturday,10070.321429,8.251137,104.000000,1197.235261,86.000000,11.511878,True,3.789721e-16,0.125366,False,False
21,2025-07-20,Sunday,8129.000000,6.090884,88.000000,1111.116491,76.035714,12.626324,False,-4.044591e-01,0.000000,False,False
22,2025-07-10,Thursday,3677.000000,2.447903,11.000000,1111.116491,70.000000,101.010590,False,-1.331998e+00,0.000000,False,False
23,2025-07-08,Tuesday,11217.000000,8.948960,43.000000,628.216986,69.000000,14.609697,True,2.389015e-01,-0.702971,False,False
24,2025-07-26,Saturday,10548.000000,8.010788,29.000000,537.949982,73.000000,18.549999,True,9.952058e-02,-0.834376,False,False
25,2025-07-04,Friday,7985.000000,6.150654,126.000000,1213.227612,76.035714,9.628791,False,-4.344603e-01,0.148646,False,False
26,2025-07-01,Tuesday,3615.000000,2.281993,162.000000,1029.487587,84.000000,6.354862,False,-1.344915e+00,-0.118830,False,False
27,2025-07-22,Tuesday,7134.000000,4.928768,106.000000,914.072265,80.000000,8.623323,False,-6.117595e-01,-0.286843,False,False
28,2025-07-16,Wednesday,12325.000000,10.739165,129.000000,1378.715350,76.000000,10.687716,True,4.697446e-01,0.389552,False,False
29,2025-07-13,Sunday,11696.000000,6.501854,142.000000,1255.773998,75.000000,8.843479,True,3.386974e-01,0.210582,False,False

## Task 5

In [33]:
#group by DataOfWeek
agg_results = df.groupby("DayOfWeek").agg({
    "Steps": "mean",
    "Calories": "mean",
    "Cals_per_Min": "mean"
}).reset_index()

In [34]:
print("\nAverage Stats by Day of Week:")
print(agg_results)

Average Stats by Day of Week:
   DayOfWeek         Steps     Calories  Cals_per_Min
0     Friday  14833.500000  1052.305720      9.777298
1     Monday   9281.500000  1176.065335      9.719679
2   Saturday  10806.330357  1055.568360     12.294104
3     Sunday  10146.750000   955.056521      9.448655
4   Thursday   9186.580357  1738.708080     65.659371
5    Tuesday   8550.200000   955.683327      9.997673
6  Wednesday   8468.000000   928.852407     11.779987

In [35]:
# top 3 data
df.nlargest(3, "Steps")[["Date", "Steps"]]

          Date    Steps
8   2025-07-18  30000.0
7   2025-07-12  14695.0
14  2025-07-24  14084.0