# Assignment 2: Online Store Sales Analysis

## ðŸ“Œ Overview
In this assignment, you will analyze a small dataset of online store sales using **Pandas**.
The dataset `store_sales.csv` contains information about sales transactions, including product details, prices, and countries.

Your goal is to practice:
- Loading CSV files into Pandas
- Calculating statistics
- Filtering and selecting data
- Grouping and aggregating
- Sorting results

---

## ðŸ“Š Dataset Description
The dataset contains the following columns:

- **OrderID** â†’ Unique ID for each order
- **Product** â†’ Name of the product
- **Category** â†’ Category of the product (Electronics, Clothing, Accessories)
- **Quantity** â†’ Number of units purchased
- **Price** â†’ Price of a single unit
- **Total_Sale** â†’ Total sale amount (`Quantity Ã— Price`)
- **Country** â†’ Country where the order was placed

---

## ðŸ“ Tasks

### Task 1: Load and Inspect Data
- Load the dataset into Pandas.
- Display the first 5 rows.

---

### Task 2: Basic Statistics
- Find the total number of orders.
- Find the **total revenue** (sum of `Total_Sale`).

---

### Task 3: Filtering Data
- Select all orders from **USA**.
- Select all orders where `Quantity > 2`.

---

### Task 4: Grouping and Aggregation
- Find the **total sales by Category**.
- Find the **total sales by Country**.

---

### Task 5: Sorting
- Sort products by `Total_Sale` in descending order.
- Display the **top 3 highest sale transactions**.

---

# Assignment 2 â€” Solution: Online Store Sales Analysis

In [ ]:
from tornado.gen import multi
#Installing Libraries
!pip install pandas numpy

In [1]:
#Importing Libraries
import pandas as pd

## Task 1

In [5]:
#loading the data
df = pd.read_csv('store_sales.csv')

In [6]:
df

   OrderID     Product     Category  Quantity  Price  Total_Sale Country
0        1      Laptop  Electronics         2    800        1600     USA
1        2  Headphones  Electronics         5     50         250  Canada
2        3     T-Shirt     Clothing         3     20          60     USA
3        4       Shoes     Clothing         1    100         100      UK
4        5  Phone Case  Accessories         4     15          60  Canada
5        6    Keyboard  Electronics         2     40          80     USA
6        7      Jacket     Clothing         2     60         120      UK
7        8  Smartwatch  Electronics         1    200         200     USA
8        9         Bag  Accessories         3     30          90  Canada
9       10     Monitor  Electronics         1    150         150     USA

In [7]:
#print the 5 row
df.head()

   OrderID     Product     Category  Quantity  Price  Total_Sale Country
0        1      Laptop  Electronics         2    800        1600     USA
1        2  Headphones  Electronics         5     50         250  Canada
2        3     T-Shirt     Clothing         3     20          60     USA
3        4       Shoes     Clothing         1    100         100      UK
4        5  Phone Case  Accessories         4     15          60  Canada

## Task 2

In [12]:
#total number of order
total_order = df['OrderID'].nunique()
print(total_order)

10

In [14]:
# Total Revenue
total_rev = df['Total_Sale'].sum()
print(total_rev)

2710

## Task 3

In [21]:
# all order from usa
dataUSA = df[df['Country'] == 'USA']

In [22]:
dataUSA

   OrderID     Product     Category  Quantity  Price  Total_Sale Country
0        1      Laptop  Electronics         2    800        1600     USA
2        3     T-Shirt     Clothing         3     20          60     USA
5        6    Keyboard  Electronics         2     40          80     USA
7        8  Smartwatch  Electronics         1    200         200     USA
9       10     Monitor  Electronics         1    150         150     USA

In [23]:
#All the quantity above 2
multi_order = df[df['Quantity'] > 2]
print(multi_order)

   OrderID     Product     Category  Quantity  Price  Total_Sale Country
1        2  Headphones  Electronics         5     50         250  Canada
2        3     T-Shirt     Clothing         3     20          60     USA
4        5  Phone Case  Accessories         4     15          60  Canada
8        9         Bag  Accessories         3     30          90  Canada

## Task 4

In [31]:
df

   OrderID     Product     Category  Quantity  Price  Total_Sale Country
0        1      Laptop  Electronics         2    800        1600     USA
1        2  Headphones  Electronics         5     50         250  Canada
2        3     T-Shirt     Clothing         3     20          60     USA
3        4       Shoes     Clothing         1    100         100      UK
4        5  Phone Case  Accessories         4     15          60  Canada
5        6    Keyboard  Electronics         2     40          80     USA
6        7      Jacket     Clothing         2     60         120      UK
7        8  Smartwatch  Electronics         1    200         200     USA
8        9         Bag  Accessories         3     30          90  Canada
9       10     Monitor  Electronics         1    150         150     USA

In [32]:
#total sell by cat
total_sellBy_category = df.groupby('Category')['Total_Sale'].sum().reset_index()
print(total_sellBy_category)

      Category  Total_Sale
0  Accessories         150
1     Clothing         280
2  Electronics        2280

In [35]:
#total sell by county
total_sellBy_county = df.groupby('Country')['Total_Sale'].sum().reset_index()
print(total_sellBy_county)

  Country  Total_Sale
0  Canada         400
1      UK         220
2     USA        2090

## Task 5

In [36]:
sorted_sales = df.sort_values(by="Total_Sale", ascending=False)

In [37]:
sorted_sales

   OrderID     Product     Category  Quantity  Price  Total_Sale Country
0        1      Laptop  Electronics         2    800        1600     USA
1        2  Headphones  Electronics         5     50         250  Canada
7        8  Smartwatch  Electronics         1    200         200     USA
9       10     Monitor  Electronics         1    150         150     USA
6        7      Jacket     Clothing         2     60         120      UK
3        4       Shoes     Clothing         1    100         100      UK
8        9         Bag  Accessories         3     30          90  Canada
5        6    Keyboard  Electronics         2     40          80     USA
4        5  Phone Case  Accessories         4     15          60  Canada
2        3     T-Shirt     Clothing         3     20          60     USA

In [38]:
#top_sales
sorted_sales.head(3)

   OrderID     Product     Category  Quantity  Price  Total_Sale Country
0        1      Laptop  Electronics         2    800        1600     USA
1        2  Headphones  Electronics         5     50         250  Canada
7        8  Smartwatch  Electronics         1    200         200     USA