# Assignment 1: Introduction to Data Analysis with Pandas

## üìå Overview
In this assignment, you will practice basic **data analysis** using Python, NumPy, and Pandas.
You are provided with a dataset `student_data.csv` that contains information about students, including their **Math scores, Science scores, and Attendance**.

The goal is to get hands-on experience with:
- Loading CSV data into Pandas
- Performing simple statistical analysis
- Filtering and selecting data
- Creating new columns
- Sorting data

This assignment is designed for **beginners** who are just starting with Python for data science.

---

## üìä Dataset Description
The dataset contains the following columns:

- **StudentID** ‚Üí Unique ID for each student
- **Name** ‚Üí Student‚Äôs name
- **Age** ‚Üí Student‚Äôs age
- **Math_Score** ‚Üí Score in Math (out of 100)
- **Science_Score** ‚Üí Score in Science (out of 100)
- **Attendance** ‚Üí Attendance percentage

---

## üìù Tasks

### Task 1: Load and Inspect Data
- Load the CSV file using Pandas.
- Display the first 5 rows of the dataset.

---

### Task 2: Basic Statistics
- Find the **average Math score** and **average Science score**.
- Find the **maximum attendance**.

---

### Task 3: Filtering Data
- Select all students who scored **more than 80 in Math**.
- Select all students with **attendance below 70**.

---

### Task 4: Creating a New Column
- Create a new column called **`Average_Score`** = (Math_Score + Science_Score) / 2.
- Display the dataset with this new column.

---

### Task 5: Sorting Data
- Sort the dataset by `Average_Score` in **descending order**.
- Display the **top 3 students**.

---

## ‚úÖ Submission
- Save your completed work in a Jupyter Notebook (`.ipynb`).
- Make sure each task is clearly labeled with headings.
- Upload your notebook once finished.

Good luck üéâ and have fun exploring your first dataset!


# Assignment 1 ‚Äî Solution: Introduction to Data Analysis with Pandas

In [7]:
#Installing Libraries
!pip install pandas numpy

In [8]:
#Importing Libraries
import pandas as pd
import numpy as np

## Task 1

In [10]:
#Loading the data
df = pd.read_csv('student_data.csv')

In [11]:
#Displaying the first 5 row
df.head()

   StudentID     Name  Age  Math_Score  Science_Score  Attendance
0          1    Alice   20          85             80          90
1          2      Bob   21          67             70          75
2          3  Charlie   19          90             85          95
3          4    David   22          45             50          60
4          5      Eva   20          78             76          85

## Task 2